
.aboutpagebody{
    min-height: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}
.aboutpagecontent{
    background: url(boutconsimage.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}
.aboutinner-section{
    width: 55%;
    float: right;
    background-color: #FFF112;
    padding: 140px;
    box-shadow: 13px 12px 8px rgba(255,114,81,0.3);
}
.aboutinner-section h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.abouttext{

    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills button{
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    background-color: #212121;
    color: white;
    cursor: pointer;
}
.skills button:hover{
    transition: 1s;
    background-color: #ecf5f5;
    color: #000;
}
@media screen and (max-width:1200px){
    .aboutinner-section{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about{
        background-size: 100%;
        padding: 100px 40px;
    }
    .aboutinner-section{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about{
        padding: 0;
    }
    .aboutinner-section{
        padding: 60px;
    }
    .skills button{
        font-size: 19px;
        padding: 5px;
        width: 160px;
    }
}


.cardh2css{
padding-left:300px;
font-family: "Heebo", sans-serif;
    font-size: 36px;
    color: #222222;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    margin-left:-290px;}

.cardh21css{
padding-left:300px;
font-family: "Heebo", sans-serif;
    font-size: 36px;
    color: #222222;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    margin-left:-290px;
    margin-left:-110px;}

#faqsection{
margin-left:-110px;
}

 .cardpcss{
  color: #777777;
        font-family: "Roboto", sans-serif;
        max-width: 680px;
        font-size: 18px;
        line-height: 26px;
        margin: 0px auto 45px;}

.mover6{
margin-left:350px;
}

#mover7{
margin-left:40px;
}

@media screen and (max-width:767px){
.cardh2css{
font-family: "Heebo", sans-serif;
    font-size: 30px;
    color: #222222;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-left:-260px;}

.mover6{
margin-left:0px;
}

 .cardpcss{
  color: #777777;
        font-family: "Roboto", sans-serif;
        max-width: 680px;
        font-size: 18px;
        line-height: 26px;
        margin: 0px auto 45px;
        margin-left:45px;
        margin-bottom: 20px;
        }

.cardh21css{
padding-left:300px;
font-family: "Heebo", sans-serif;
    font-size: 30px;
    color: #222222;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    margin-left:-290px;
    margin-left:-110px;
    }


#mover7{
margin-left:-233px;
}
#faqsection{
margin-left:-250px;
}

}


