<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>About Us</title>
    <meta name="description" content="">
     <link rel="icon"  href="{{url_for('static',filename='Aboutfiles/img/Icons/senatelogo.ico')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <style>
           .header-area.static{
  background-color: #212121;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
   margin-top: 0px;
   margin-bottom:30px


}

 .header-area.scrolling{
  background-color: #212121;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  margin-top: 0px;
   margin-bottom:30px


}

.navbar-brand.static,
.navbar-brand img {
  height: 120px;
  margin-top: -10px;
  margin-bottom:0px
    padding-top: 40px;
  padding-bottom: 20px;

}

.navbar-brand img.scrolling{
  height: 110px;
  margin-top: 10px;
  margin-bottom:0px
   padding-top: -5px;

  padding-bottom: 10px;

}

.spacer {
  margin-top: 110px;
}

    </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
 <link rel="stylesheet" href="{{ url_for('static',filename='Aboutfiles/css/shortcode/repairs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='Aboutfiles/css/shortcode/faqstyle.css') }}">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Aboutfiles/css/shortcode/addonsstyle.css') }}">
 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Aboutfiles/css/aboutmain.css') }}">
    <!-- all css here -->
    <link rel="stylesheet" href="{{ url_for('static',filename='Aboutfiles/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='Aboutfiles/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='Aboutfiles/css/icofont.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='Aboutfiles/css/shortcode/shortcodes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='Aboutfiles/css/plugins.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='Aboutfiles/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='Aboutfiles/css/responsive.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
    $(document).ready(function() {
      $(window).scroll(function() {
        var scrollTop = $(window).scrollTop();
        var headerArea = $('.header-area');
        var navbarBrand = $('.navbar-brand');
        var navbarBrandImg = $('.navbar-brand img');

        if (scrollTop > 0) {
          headerArea.addClass('scrolling');
          navbarBrand.addClass('scrolling');
          navbarBrandImg.addClass('scrolling');
        } else {
          headerArea.removeClass('scrolling');
          navbarBrand.removeClass('scrolling');
          navbarBrandImg.removeClass('scrolling');
        }
      });
    });


        function handleClick() {
            var navbar = document.querySelector('.main-menu .navbar-collapse');
            navbar.classList.toggle('collapsed');
        }






 function toggleMenu() {
            var menu = document.getElementById("menu");
            menu.classList.toggle("show");
        }

 document.addEventListener("click", function(event) {
    var menu = document.getElementById("menu");
    var menuIcon = document.querySelector(".menu-icon");

    // Check if the clicked element is not within the menu or menu icon
    if (!menu.contains(event.target) && !menuIcon.contains(event.target) && menu.classList.contains("show")) {
        menu.classList.remove("show");
    }
});




  </script>

</head>


 <body>

    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
   <div style="margin-left:85%;border-radius:70px;background-color:#FFF112;margin-top:5px;" class="navbar1">
        <div style="border-radius:100%;color:#000;" class="menu-container">
            <div style="font-size:15px;font-weight:bold;" class="menu-icon" onclick="toggleMenu()">&#9776;</div>
            <ul style="margin-left:1px;" class="menu" id="menu">
                <li><a href="{{url_for('Home')}}">Home</a></li>
                <li><a href="{{url_for('Project')}}">Services</a></li>
                <li><a href="{{url_for('About')}}">About Us</a></li>
                <li><a href="{{url_for('Contact')}}">Contact</a></li>
                  <li><a href="{{url_for('Client')}}">Clientelle</a></li>
            </ul>
        </div>
    </div>
    <!-- Page Wraper Here Start -->
    <div class="page-wraper" id="main-home">
        <!-- Header Area Start -->

        <header class="header-area static">

            <!-- Menu Area Start -->
            <div class="header-area" id="sticky-header" style="background-color: #212121;">
                <div class="container">
                    <!-- Menu Start -->
                    <div class="row">
                        <div class="col-12">
                            <div class="main-menu navbar navbar-expand-md justify-content-between">
                                <div class="navbar-header">

                                    <a class="navbar-brand static" href="{{url_for('Home')}}"><img id="imgproj" src="{{ url_for('static',filename='Aboutfiles/img/Icons/SenateImg.png') }}" alt="logo"
											class="img-responsive"></a>
                                </div>
                                <div class="collapse navbar-collapse" id="navigation">
                                    <ul class="nav navbar-nav ms-auto">
                                        <li ><a href="{{ url_for('Home') }}">Home</a></li>
                                         <li><a href="{{url_for('Project')}}">Project</a></li>
                                        <li class="active"><a href="#">About Us<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul>
                                                <li><a href="#abouthistory">Our History</a></li>
                                                <li><a href="#strengths">Our Core strengths</a></li>
                                                <li><a href="#faqsection">FAQ's Section</a></li>

                                            </ul>
                                        </li>

                                        <li><a href="{{url_for('Contact')}}">Contact</a></li>
                                         <li><a href="{{url_for('Client')}}">Clientelle</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Menu End -->
                </div>
            </div>
            <!-- Menu Area Start -->
            <!-- Slider Area Start -->
            <div class="slider slider-for">
                <!-- Slider Single Item -->
                <div class="slider-item slickslider">

                </div>

            </div>



            <!-- Thumbnail Image -->

            <!-- Thumbnail Image -->
            <!-- Slider Area End -->
            <!-- Scroll Icon -->
            <div class="scroll-icon text-center">
                <a href="#about" class="wow fadeInDown infinite animated" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInDown;"><i
						class="icofont icofont-scroll-down"></i></a>
                <!-- Scroll Icon -->
            </div>

            </header>
        </div>


    <div class="spacer"></div>

     <!-- Content Area Start -->
    <div class="content-area">
        <div class="container">
            <div class="row">
                <div class="col-12">

 </div>
            </div>
        </div>
    </div>


<div id="abouthistory" class="aboutpagebody">
     <div style="background-image: url('{{ url_for('static',filename='Aboutfiles/img/SenateImg/Image3.jpg') }}'); background-size: 100%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;">
        <div class="aboutinner-section">
            <h1>About Us</h1>
            <p class="abouttext">
                Senate Engineering was founded by a
core team of professionals with over
20+ years of hands-on experience in
constructionandprojectmanagement.
Senate Engineering was founded in
the year 2018 as a core construction
company and quickly transformed
into a multi-dimensional construction
company with strong expertise in
various facets of construction.
Engineers with 4 to 20 years of handson experience in different facades of
the construction industry.
All our completed projects stand as a
tall testimony to our eye for details,
construction quality, contemporary
design, architectural merits, finesse,
standards of materials used, aesthetic
values, top notch amenities, grandeur
finish and our passion for excellence
            </p>
            <div class="skills">
                <button>Contact Us</button>
            </div>
        </div>
    </div>
</div>

 <div style="padding-top:100px; " class="addonsbody">
 <h2 class="cardh2css">Building Dreams into Reality: Our Core Strengths in <div class="mover6">Construction</div></h2>
            <p class="cardpcss"> Explore how our construction website empowers vision with skilled craftsmanship, cutting-edge technology, and a commitment to client satisfaction.</p>



<div id="strengths" class="addonscontainer">
  <div  class="addonscard" >
    <div class="face face1">
      <div class="addonscontent">

        <h3 style="color:#fff;font-weight:bold;font-size:24px;">Project Planning</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="addonscontent">
        <p style="color:#fff;">Our meticulous Project Planning services lay the foundation for successful construction ventures. we strategize every step, ensuring efficient execution and Successful ontime project completion.</p>

      </div>
    </div>
  </div>
  <div class="addonscard">
    <div class="face face1">
      <div class="addonscontent">
        <img src="https://image.flaticon.com/icons/svg/993/993707.svg" alt="">
        <h3 style="color:#fff;font-weight:bold;font-size:24px;" >Cost Management</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="addonscontent">
        <p style="color:#fff;">Achieve financial efficiency and control in your construction projects with our expert Cost Management solutions</p>

      </div>
    </div>
  </div>
  <div class="addonscard">
    <div class="face face1">
      <div class="addonscontent">
        <img src="https://image.flaticon.com/icons/svg/1197/1197409.svg" alt="">
        <h3 style="color:#fff;font-weight:bold;font-size:24px;">Building Consultancy</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="addonscontent">
        <p style="color:#fff;">From project inception to completion, we offer tailored solutions, compliance support, and innovative insights to ensure your construction endeavors reach their full potential.</p>

      </div>
    </div>
  </div>

      <div class="addonscard">
    <div class="face face1">
      <div class="addonscontent">
        <img src="https://image.flaticon.com/icons/svg/1197/1197409.svg" alt="">
        <h3 style="color:#fff;font-weight:bold;font-size:24px;">Execution Planning</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="addonscontent">
        <p style="color:#fff;" >With meticulous attention to detail, strategic scheduling, and seamless coordination, we create a roadmap for efficient project execution, ensuring smooth operations and successful project completion.</p>

      </div>
    </div>
  </div>

      <div class="addonscard">
    <div class="face face1">
      <div class="addonscontent">
        <img src="https://image.flaticon.com/icons/svg/1197/1197409.svg" alt="">
        <h3 style="color:#fff;font-weight:bold;font-size:24px;">Quality Management</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="addonscontent">
        <p style="color:#fff;">Ensure excellence in construction projects with our rigorous Quality Management approach. </p>

      </div>
    </div>
  </div>

      <div class="addonscard">
    <div class="face face1">
      <div class="addonscontent">
        <img src="https://image.flaticon.com/icons/svg/681/681611.svg" alt="">
        <h3 style="color:#fff;font-weight:bold;font-size:24px;">Stuctural Repairs</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="addonscontent">
        <p style="color:#fff;" >Trust our skilled team of experts to handle all your structural repair needs. From identifying and assessing issues to implementing effective restoration solutions</p>

      </div>
    </div>
  </div>
</div>
</div>

    <div  class="spacer" ></div>



 <h2 id="mover7" class="cardh2css">Building Dreams-Our Key Differentiators</h2>
    <p class="cardpcss"> Key Differentiators to construction services for the enlightment of the clients to built them  </p>



    <div class="repairsbody" >
<div class="repairscontainer">
  <a class="repairscard1" href="#">
    <h3 class="repairsh3">Key 1: </h3>
    <p class="small">"Comprehensive expertise in core construction processes for a hands-on experience you can trust</p>
    <div class="go-corner" href="#">
      <div class="go-arrow">
      ➞
      </div>
    </div>
  </a>

  <a class="repairscard1" href="#">
    <h3 class="repairsh3">Key 2: </h3>
    <p class="small">Precise planning and methodical execution, ensuring flawless construction outcomes.</p>
    <div class="go-corner" href="#">
      <div class="go-arrow">
      ➞
      </div>
    </div>
  </a>

    
      <a class="repairscard1" href="#">
    <h3 class="repairsh3">Key 3:</h3>
    <p class="small">Seasoned project management team to deliver successful projects on schedule."</p>
    <div class="go-corner" href="#">
      <div class="go-arrow">
      ➞
      </div>
    </div>
  </a>
  <a class="repairscard1" href="#">
    <h3 class="repairsh3">Key 4:</h3>
    <p class="small">Consistent on-time project completion for your peace of mind.</p>
    <div class="go-corner" href="#">
      <div class="go-arrow">
      ➞
      </div>
    </div>
  </a>


</div>
</div>

        <div class="repairsbody" >
<div class="repairscontainer">
  <a class="repairscard1" href="#">
    <h3 class="repairsh3">Key 5: </h3>
    <p class="small">A versatile, process-driven company with expertise across multiple disciplines</p>
    <div class="go-corner" href="#">
      <div class="go-arrow">
      ➞
      </div>
    </div>
  </a>

  <a class="repairscard1" href="#">
    <h3 class="repairsh3">Key 6: </h3>
    <p class="small">Innovative and customer-centric, dedicated to exceeding your expectations.</p>
    <div class="go-corner" href="#">
      <div class="go-arrow">
      ➞
      </div>
    </div>
  </a>

      <a class="repairscard1" href="#">
    <h3 class="repairsh3">Key 7: </h3>
    <p class="small">Unyielding commitment to superior material quality for lasting results.</p>
    <div class="go-corner" href="#">
      <div class="go-arrow">
      ➞
      </div>
    </div>
  </a>
  <a class="repairscard1" href="#">
    <h3 class="repairsh3">Key 8: </h3>
    <p class="small">Approachable and customer-oriented, fulfilling all your construction needs.</p>
    <div class="go-corner" href="#">
      <div class="go-arrow">
      ➞
      </div>
    </div>
  </a>


</div>
</div>
  <div  class="spacer" ></div>


<!-- <h2 id="faqsection" class="cardh21css">Construction Services - Frequently Asked Questions (FAQ)<div style="margin-left:350px;"></div></h2>
            <p class="cardpcss"> Access our meticulously curated Frequently Asked Questions (FAQ) section to discover comprehensive answers about our construction services. </p>

<section>


    <div class="questions-container">
        <div class="question">
            <button>
                <span> What factors to consider when choosing a contractor?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p> Experience, reviews, licenses, insurance, communication, and cost estimates matter when selecting a contractor.</p>
        </div>

        <div class="question">
            <button>
                <span> How to estimate construction project costs?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p> Create a list of materials, labor, and equipment with multiple quotes to accurately estimate construction project costs.</p>
        </div>

        <div class="question">
            <button>
                <span>Essential safety measures during construction?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>Proper training, equipment usage, hazard identification, and site maintenance are crucial for construction site safety.</p>
        </div>

        <div class="question">
            <button>
                <span> Latest advancements in construction technology?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>Robotics, Building Information Modeling (BIM), 3D printing, and eco-friendly materials are among the latest construction technology advancements.</p>
        </div>
    </div>
</section>-->

<!-- external js-->
    <div class="spacer"></div>


 <!-- Newsletter Area Start -->
            <section id="Newsletterid" class="newsletter-area bg-2 bg-overlay-1 ptb-60" style="background-color: #fff200;">

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="newsletter-from text-center">
                                <form method="POST" action="/subscribe">
                                    <h2>Subscribe for Newsletter</h2>
                                    <div class="from-box">
                                        <label for="email"></label>
                                        <input  type="email" name="email" id="email" placeholder="Enter Your Mail"  autocomplete="off">
                                         <input type="submit" value="SUBSCRIBE NOW" class="search-button">
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



        <!-- Page Content End -->
        <!-- Footer Area Start -->
        <footer>
            <!-- Footer Top Area End -->
            <div class="footer-area grayblack-bg">
                <div class="container">
                    <!-- Footer Top Social Start -->

                    <!-- Footer Top Social End -->
                    <div class="row footer-single-main pt-100 pb-65">
                        <!-- Footer Single Box -->
                        <div class="col-lg-3 col-md-5 col-12">
                            <div class="fotter-single-area">
                               <h4><a href="{{url_for('Contact')}}">Contact Us</a></h4>
                                <div class="contact-details">
                                    <ul>
                                        <li>
                                            <img src= "{{ url_for('static',filename='Allfiles/img/icon/c1.png') }}" alt="" />
                                            <p>Pace Acyuta, Plot-25/26-E , <br> Rajiv Gandhi Salai,Chennai</p>
                                        </li>
                                        <li>
                                            <img src= "{{ url_for('static',filename='Allfiles/img/icon/c2.png') }}" alt="" />
                                            <p>phone : +91-9500056905.</p>
                                        </li>
                                        <li>
                                            <img src="{{ url_for('static',filename='Allfiles/img/icon/c3.png') }}" alt="" />
                                            <p>Email : info@example.com <br> Web :www.senateeng.com</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Footer Single Box -->
                        <!-- Footer Single Box -->
                        <div class="col-lg-2 offset-lg-1 col-md-3 col-12">
                            <div class="fotter-single-area">
                                <h4>Our Services</h4>
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="#">Design & Built</a></li>
                                        <li><a href="#">Project Management</a></li>
                                        <li><a href="#">Constrction Management</a></li>
                                        <li><a href="#">Repairs and Refurbishment</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Footer Single Box -->
                        <!-- Footer Single Box -->
                        <div class="col-lg-2 offset-md-1 col-md-3 col-12">
                            <div class="fotter-single-area">
                                <h4>Site Link</h4>
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="{{ url_for('Home')}}">Home</a></li>
                                        <li><a href="{{ url_for('About')}}">About</a></li>
                                        <li><a href="{{url_for('Project')}}">Services</a></li>
                                        <li><a href="{{url_for('Contact')}}#contactformid">Contact Us</a></li>
                                        <li><a href="{{url_for('About')}}#faqsection">Faq</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Footer Single Box -->
                        <!-- Footer Single Box -->
                        <div class="col-lg-3 col-md-6 col-12 order-lg-4">
                            <div class="fotter-single-area">
                                <h4>Recent Projects</h4>
                                <div class="post-area">
                                    <div class="post-single">
                                        <p>We not only have thorough expertise in
                                            construction, we also do cost and strategic
                                            consulting for construction projects.
                                        </p>
                                        <a href="{{url_for('Project')}}">View On Projects</a>
                                    </div>
                                    <div class="post-single">
                                        <p>Our core team has years of experience in planning, budgeting,
                            coordinating and supervising construction projects from start
                                to finish
                                        </p>
                                        <a href="{{ url_for('Project')}}">View on Projects</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Footer Single Box -->
                    </div>
                </div>
            </div>
            <!-- Footer Top Area Start -->

        </footer>
        <!-- Footer Area End -->
    </div>
    <!-- Page Wraper Here Start -->




<script src="{{ url_for('static',filename='Aboutfiles/js/faq.js') }}"></script>
    <!-- all js here -->
    <script src="{{ url_for('static',filename='Aboutfiles/js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static',filename='Aboutfiles/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='Aboutfiles/js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ url_for('static',filename='Aboutfiles/js/ajax-mail.js') }}"></script>
    <script src="{{ url_for('static',filename='Aboutfiles/js/plugins.js') }}"></script>
    <!-- google map api -->

    <script src="{{ url_for('static',filename='Aboutfiles/js/main.js') }}"></script>
 </body>

</html>