<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
 <link rel="stylesheet" href="../Allfiles/css/Cardcss.css">


     <link rel="stylesheet" href="../Allfiles/css/hgcss/revslider.css">
    <link rel="stylesheet" href="../Allfiles/css/hgcss/plugins.css">

    <link rel="stylesheet" href="../Allfiles/css/hgcss/hgstyle.css">


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../Allfiles/css/Infocss/bootstrap.css">
	<link rel="stylesheet" href="../Allfiles/js/Infovendors/linericon/style.css">

	<link rel="stylesheet" href="../Allfiles/js/Infovendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="../Allfiles/js/Infovendors/lightbox/simpleLightbox.css">
	<link rel="stylesheet" href="../Allfiles/js/Infovendors/nice-select/css/nice-select.css">
	<link rel="stylesheet" href="../Allfiles/js/Infovendors/animate-css/animate.css">
	<link rel="stylesheet" href="../Allfiles/js/Infovendors/flaticon/flaticon.css">
	<!-- main Infocss -->
	<link rel="stylesheet" href="../Allfiles/css/Infocss/Infostyle.css">


    <!-- all css here -->
    <link rel="stylesheet" type="text/css" href="../Allfiles/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"  href="../Allfiles/css/font-awesome.min.css">
    <link rel="stylesheet"  type="text/css" href="../Allfiles/css/icofont.css">
    <link rel="stylesheet"  type="text/css" href="../Allfiles/css/shortcode/shortcodes.css">
    <link rel="stylesheet"  type="text/css" href="../Allfiles/css/plugins.css">
    <link rel="stylesheet" type="text/css" href= "../Allfiles/css/style.css">
    <link rel="stylesheet" type="text/css" href="../Allfiles/css/responsive.css">
    <script src="../Allfiles/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

 <body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Page Wraper Here Start -->
    <div class="page-wraper" id="main-home">
        <!-- Header Area Start -->
        <header>
            <!-- Menu Area Start -->
            <div class="header-area" id="sticky-header">
                <div class="container">
                    <!-- Menu Start -->
                    <div class="row">
                        <div class="col-12">
                            <div class="main-menu navbar navbar-expand-md justify-content-between">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-target="#navigation" aria-expanded="false">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
                                    <div style="margin-left:-30px;">
                                    <a class="navbar-brand" href="index.html"><img src="../Allfiles/img/Icons/SenIco7.ico" alt="logo"
											class="img-responsive"></a></div>
                                </div>
                                <div class="collapse navbar-collapse" id="navigation">
                                    <ul class="nav navbar-nav ms-auto">
                                        <li class="active"><a href="index.html">Home</a></li>
                                        <li><a href="about-us.html"></a></li>
                                        <li><a href="#">Projects<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul>
                                                <li><a href="about-us.html">Design Section</a></li>
                                                <li><a href="services.html">Art of Construction</a></li>
                                                <li><a href="team.html">Consulting</a></li>

                                            </ul>


                                        </li>

                                        <li><a href="#">About Us <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul>
                                                <li><a href="about-us.html">Our Company</a></li>
                                                <li><a href="services.html">Our Team</a></li>
                                                <li><a href="team.html">History</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="blog.html">portfolio</a></li>
                                        <li><a href="contact-us.html">contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Menu End -->
                </div>
            </div>
            <!-- Menu Area Start -->
            <!-- Slider Area Start -->
            <div class="slider slider-for">
                <!-- Slider Single Item -->
                <div class="slider-item slickslider">
                    <img src="../Allfiles/img/SenateImg/Image1.jpg" alt="" />
                    <div class="slick-caption">
                        <div class="slide-table container">
                            <div class="table-cell row">
                                <div class="col-12">
                                    <div class="slide-content text-center text-white">
                                        <h2>WE ARE HERE FOR <span> BUILD </span>YOU UP</h2>
                                        <h1>BUILDING EXCELLENCE FROM GROUND UP</h1>
                                        <div class="contact">
                                            <a href="#">Let's Build</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider Single Item -->
                <!-- Slider Single Item -->
                <div class="slider-item slickslider">
                    <img src="../Allfiles/img/SenateImg/Image2.jpg" alt="" />
                    <div class="slick-caption">
                        <div class="slide-table container">
                            <div class="table-cell row">
                                <div class="col-12">
                                    <div class="slide-content text-center text-white">
                                           <h2>WE ARE HERE FOR <span> BUILD </span>YOU UP</h2>
                                        <h1>'SHAPING DREAMS BRINGING SMILES'</h1>
                                        <div class="contact">
                                            <a href="#">CONTACT US</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider Single Item -->
                <!-- Slider Single Item -->
                <div class="slider-item slickslider">
                    <img src="../Allfiles/img/SenateImg/Image6.jpg" alt="" />
                    <div class="slick-caption">
                        <div class="slide-table container">
                            <div class="table-cell row">
                                <div class="col-12">
                                    <div class="slide-content text-center text-white">
                                          <h2>WE ARE HERE FOR <span> BUILD </span>YOU UP</h2>
                                        <h1>SOLUTIONS BEYOND EXPECTATIONS</h1>
                                        <div >
                                        <div  style="color:#212121;" class="contact">

                                            <a  href="#">Let's Build</a>
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider Single Item -->
            </div>
            <!-- Thumbnail Image -->
            <div class="thumbnail-img slider slider-nav">
                <div><img src="../Allfiles/img/Sliders/Image1.ico" alt="" /></div>
                <div><img src="../Allfiles/img/Sliders/Image2.ico" alt="" /></div>
                <div><img src="../Allfiles/img/Sliders/Image6.ico" alt="" /></div>
            </div>
            <!-- Thumbnail Image -->
            <!-- Slider Area End -->
            <!-- Scroll Icon -->
            <div class="scroll-icon text-center">
                <a href="#about" class="wow fadeInDown infinite animated" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInDown;"><i
						class="icofont icofont-scroll-down"></i></a>
            <!-- Scroll Icon -->
           </header>
        <!-- Header Area End -->
        <!-- Page Content Start -->
        <div class="page-content">
            <!-- About Us area Start -->
            <section class="aboutus-area ptb-130" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="about-left">
                                <div style="padding-bottom:40px;"></div>
                                <img src="../Allfiles/img/SenateImg/AboutImg2.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="about-right mt-30">
                                <h2 style="color:#000000;">World Class Benchmarks on Construction Excellence</h2>
                                <h4>A Preface on -  <span style="color:#ffc412">SENATE ENGINEERING</span></h4>
                                <p>Senate Engineering was founded by a
                                        core team of professionals with over
                                        20+ years of hands-on experience in
                                            constructionandprojectmanagement..</p>
                                <p>Senate Engineering was founded in
                                        the year 2018 as a core construction
                                        company and quickly transformed
                                        into a multi-dimensional construction
                                            company with strong expertise in
                                        various facets of construction.
                                        Engineers with 4 to 20 years of handson experience in different facades of
                                        the construction industry.</p>
                                <div class="download">
                                    <a href="../Allfiles/DownloadFiles/SeneteBrochere.pdf" target="_blank" download><i class="icofont icofont-download" "></i >Download
										Our Brochure</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


                <!--================Welcome Area =================-->
	<section class="welcome_area p_120">
		<div class="container">
			<div class="row welcome_inner">
				<div class="col-lg-6">
					<div class="welcome_text">
						<h4>Why Choose Us?</h4>
						<p>Our quality focus, customer-focused business
activities and efficient process mechanism
ensure our customers get outstanding value
for money, every time.<br><br>
                            We believe in providing customized solutions to our clients.
                            We will work closely with you to understand your goals, branding,
                            and target audience.: We pride ourselves on our commitment to delivering high-quality craftsmanship. Our skilled construction
                            professionals pay attention to every detail, ensuring precision and excellence in our work.

                        </p>
						<div class="row">
							<div class="col-sm-4">
								<div class="wel_item">
									<i class="lnr lnr-database"></i>
									<h4>750</h4>
									<p>Professionals</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="wel_item">
									<i class="lnr lnr-book"></i>
									<h4>90+</h4>
									<p>Total Projects</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="wel_item">
									<i class="lnr lnr-users"></i>
									<h4>50+</h4>
									<p>Awards</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="tools_expert">
						<h3>Excellence Meter</h3>
						<div class="skill_main">
							<div class="skill_item">
								<h4>Designing Excellence <span class="counter"> 85</span>%</h4>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
							<div class="skill_item">
								<h4>Construction Excellence <span class="counter">90</span>%</h4>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
							<div class="skill_item">
								<h4>Consultancy Excellence <span class="counter">70</span>%</h4>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
							<div class="skill_item">
								<h4>Time Management <span class="counter">95</span>%</h4>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
							<div class="skill_item">
								<h4>Solving Customer Needs <span class="counter">87</span>%</h4>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!--================End Welcome Area =================-->
            <h2 class="cardh2css">The Legacies of Excellence</h2>
            <p class="cardpcss">"Excellence in Construction: Our Vision and Mission Unite in Delivering Remarkable and Best&#32;&#32;Projects with Precision, Innovation, and Unparalleled Client Satisfaction."</p>
<div class="cardinateb">
    <div class="cardcontainer">
      <div class="cardinate">
        <div class="face face1">
          <h3>Vision</h3>
        </div>
        <div class="face face2">
          <p>To emerge as a leader in the South Indian construction landscape by offering solutions
beyond customer expectations
</p>
        </div>
      </div>
      <div class="cardinate">
        <div class="face face1">
          <h3>Mision</h3>
        </div>
        <div class="face face2">
          <p>To exceed customer expectations at every touch point through implementation of effective
construction management principles and techniques. To transform our engineering
excellence, construction prowess, material know-how and innovation into tangible benefits
for our customers.</p>
        </div>
      </div>
      <div class="cardinate">
        <div class="face face1">
          <h3>Excellency</h3>
        </div>
        <div class="face face2">
          <p>"Pioneering construction excellence with precision craftsmanship, innovative solutions, and client-centric approach. Delivering exceptional projects, exceeding expectations, and building lasting partnerships."</p
      </div>
    </div>
    </div>
</div>
  <div  style="margin-left:650px; margin-top:60px; " class="probtn">To Know More >></div>
    <div style="padding-bottom:100px;"></div>




            <!----Project Gallery--->



        <!--Projects section start-->
        <div class="project-section section bg-gray pt-95 pt-lg-75 pt-md-65 pt-sm-55 pt-xs-45 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center mb-30 mb-md-15 mb-md-10 mb-sm-10 mb-xs-0">
                            <span>PORTFOLIO</span>
                            <h1  class="hgtopic">Architectural Marvels: Pushing Boundaries of Design</h1>
                            <p class="hgsubtopic">Delve into a world of architectural marvels that push the boundaries of design and innovation. Our gallery showcases iconic structures that captivate the imagination, blending aesthetics with practicality.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row row-0 pl-15 pr-15">
                <div class="project-slider project-slider-4-column section">

                    <div class="project-item">
                        <div class="project">
                            <a href="single-portfolio.html" class="image"><img src="../Allfiles/img/hgimages/project/projrect-1.jpg" alt=""></a>
                            <div class="content">
                                <h4 class="title"><a href="single-portfolio.html">Project 03</a></h4>
                                <span class="category"><a href="#">Public</a>,<a href="#">Residental</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="project-item">
                        <div class="project">
                            <a href="single-portfolio.html" class="image"><img src="../Allfiles/img/hgimages/project/projrect-2.jpg" alt=""></a>
                            <div class="content">
                                <h4 class="title"><a href="single-portfolio.html">Project 02</a></h4>
                                <span class="category"><a href="#">Landscape</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="project-item">
                        <div class="project">
                            <a href="single-portfolio.html" class="image"><img src="../Allfiles/img/hgimages/project/projrect-3.jpg" alt=""></a>
                            <div class="content">
                                <h4 class="title"><a href="single-portfolio.html">Project 01</a></h4>
                                <span class="category"><a href="#">Interior</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="project-item">
                        <div class="project">
                            <a href="single-portfolio.html" class="image"><img src="../Allfiles/img/hgimages/project/projrect-4.jpg" alt=""></a>
                            <div class="content">
                                <h4 class="title"><a href="single-portfolio.html">Image video</a></h4>
                                <span class="category"><a href="#">Landscape</a><a href="#">Public</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="project-item">
                        <div class="project">
                            <a href="single-portfolio.html" class="image"><img src="../Allfiles/img/hgimages/project/projrect-5.jpg" alt=""></a>
                            <div class="content">
                                <h4 class="title"><a href="single-portfolio.html">Image slider</a></h4>
                                <span class="category"><a href="#">Interior</a><a href="#">Residental</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="project-item">
                        <div class="project">
                            <a href="single-portfolio.html" class="image"><img src="../Allfiles/img/hgimages/project/projrect-6.jpg" alt=""></a>
                            <div class="content">
                                <h4 class="title"><a href="single-portfolio.html">Image gallery</a></h4>
                                <span class="category"><a href="#">Interior</a><a href="#">Landscape</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="project-item">
                        <div class="project">
                            <a href="single-portfolio.html" class="image"><img src="../Allfiles/img/hgimages/project/projrect-7.jpg" alt=""></a>
                            <div class="content">
                                <h4 class="title"><a href="single-portfolio.html">Right description</a></h4>
                                <span class="category"><a href="#">Interior</a><a href="#">Landscape</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="project-item">
                        <div class="project">
                            <a href="single-portfolio.html" class="image"><img src="../Allfiles/img/hgimages/project/projrect-8.jpg" alt=""></a>
                            <div class="content">
                                <h4 class="title"><a href="single-portfolio.html">Left description</a></h4>
                                <span class="category"><a href="#">Apartment</a><a href="#">Interior</a></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

              <div  style="margin-left:650px; " class="probtn"> View Projects>></div>
        <!--Projects section end-->

            <!--Project Gallery End-->

	<!--================Feature Area =================-->
	<section class="feature_area p_120">
		<div class="container">
			<div class="main_title">
				<h2>Transforming Spaces: Unleashing the Power of  Designs and Constructions</h2>
				<p>Experience the magic of interior design as we bring your spaces to life, blending creativity, functionality, and attention to detail for transformative and captivating environments.</p>
			</div>
			<div class="feature_inner row">
				<div class="col-lg-4 col-md-6">
					<div class="feature_item">
						<i class="flaticon-city"></i>
						<h4>Architecture</h4>
						<p> Iconic, visionary designs harmonize aesthetics, functionality, and sustainability for timeless structures and captivating spaces.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature_item">
						<i class="flaticon-skyline"></i>
						<h4>Interior Design</h4>
						<p>Transform spaces with creative vision, impeccable attention to detail, and personalized aesthetics.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature_item">
						<i class="flaticon-sketch"></i>
						<h4>Planning</h4>
						<p>Efficient, strategic approach ensures optimal functionality, sustainability, and seamless project execution.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature_item">
						<i class="flaticon-city"></i>
						<h4>Landscape Design</h4>
						<p> Create captivating outdoor spaces with expert vision, harmonious elements, and sustainable landscaping practices.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature_item">
						<i class="flaticon-skyline"></i>
						<h4>Exterior Designs</h4>
						<p>: Innovative, sustainable designs that seamlessly integrate with surroundings, leaving a lasting impression.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature_item">
						<i class="flaticon-sketch"></i>
						<h4>Furniture Design</h4>
						<p>Stylish, ergonomic creations that enhance spaces with meticulous craftsmanship and attention to comfort.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

           <div  style="margin-left:650px; " class="probtn"> View Projects</div>

	<!--================End Feature Area =================-->



    <!--================Blog Categorie Area =================-->
   <!-- <section class="blog_categorie_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="../Allfiles/img/Inforimg/cat-post/cat-post-3.jpg" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="blog-details.html">
                                    <h5>Social Life</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>Enjoy your social life together</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="../Allfiles/img/Inforimg/cat-post/cat-post-2.jpg" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="blog-details.html">
                                    <h5>Politics</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>Be a part of politics</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="../Allfiles/img/Inforimg/cat-post/cat-post-1.jpg" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="blog-details.html">
                                    <h5>Food</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>Let the food be finished</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!--================Blog Categorie Area =================-->



	<!--================Testimonials Area =================-->
	<section class="testimonials_area testi_two p_120">
		<div class="container">
			<div class="main_title">
				<h2>Testimonials</h2>
				<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in
					price. You may see some for as low as $.17 each.</p>
			</div>
			<div class="testi_inner">
				<div class="testi_slider owl-carousel">
					<div class="item">
						<div class="testi_item">
							<p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth.
								If you think about it, you travel across her face</p>
							<h4>Fanny Spencer</h4>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star-half-o"></i></a>
						</div>
					</div>
					<div class="item">
						<div class="testi_item">
							<p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth.
								If you think about it, you travel across her face</p>
							<h4>Fanny Spencer</h4>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star-half-o"></i></a>
						</div>
					</div>
					<div class="item">
						<div class="testi_item">
							<p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth.
								If you think about it, you travel across her face</p>
							<h4>Fanny Spencer</h4>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star"></i></a>
							<a href="#"><i class="fa fa-star-half-o"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

              <div  style="margin-left:650px; margin-bottom:180px;" class="probtn">Contact Us</div>
	<!--================End Testimonials Area =================-->





                        <!-- Our Client Area End -->
            <!-- Newsletter Area Start -->
            <section class="newsletter-area bg-2 bg-overlay-1 ptb-60" style="background-color: #fff200;">

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="newsletter-from text-center">
                                <form id="news-form">
                                    <h2>Subs for Newsletter</h2>
                                    <div class="from-box">
                                        <form method="POST" action="/subscribe">
                                            <label for="email"></label>
                                        <input  autocomplete="off" placeholder="Enter Your Mail" type="email" name="email" id="email">
                                             <input type="submit" value="Subscribe Now" >


                                        </form>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Newsletter Area End -->
        </div>
sadksjhdasjd
        <div>  <h1>Send Email</h1>
    <form method="POST" action="/send_email" onsubmit="showNotification()">
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" required>
        <br><br>
        <input type="submit" value="Send Email">
    </form></div>
        <!-- Page Content End -->
        <!-- Footer Area Start -->
        <footer>
            <!-- Footer Top Area End -->
            <div class="footer-area grayblack-bg">
                <div class="container">
                    <!-- Footer Top Social Start -->
                    <div class="row">
                        <div class="col-12">
                            <div class="footer-top">
                                <div class="footer-top-img">
                                    <a href="index.html"><img src="../Allfiles/img/Icons/SenIco7.ico" alt="" /></a>
                                </div>
                                <div class="footer-top-content">
                                    <p>Raees the best Architect agency perspiciatis unde omnis iste natus error sit volutatem accusantium doloremque antium, totam rem aperiam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                        laudan</p>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Top Social End -->
                    <div class="row footer-single-main pt-100 pb-65">
                        <!-- Footer Single Box -->
                        <div class="col-lg-3 col-md-5 col-12">
                            <div class="fotter-single-area">
                                <h4>Contact Us</h4>
                                <div class="contact-details">
                                    <ul>
                                        <li>
                                            <img src="../Allfiles/img/icon/c1.png" alt="" />
                                            <p>8901 Marmora Raod, <br> Glasgow, D04 89GR</p>
                                        </li>
                                        <li>
                                            <img src="../Allfiles/img/icon/c2.png" alt="" />
                                            <p>Telephone : +013 232 548 182 Telephone : +013 232 548 182</p>
                                        </li>
                                        <li>
                                            <img src="../Allfiles/img/icon/c3.png" alt="" />
                                            <p>Email : info@example.com <br> Web : www.example.com</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Footer Single Box -->
                        <!-- Footer Single Box -->
                        <div class="col-lg-2 offset-lg-1 col-md-3 col-12">
                            <div class="fotter-single-area">
                                <h4>Our Services</h4>
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="#">Architecture</a></li>
                                        <li><a href="#">Planning</a></li>
                                        <li><a href="#">Interior Design</a></li>
                                        <li><a href="#">Exterior Design</a></li>
                                        <li><a href="#">Landscape Design</a></li>
                                        <li><a href="#">Furniture Design</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Footer Single Box -->
                        <!-- Footer Single Box -->
                        <div class="col-lg-2 offset-md-1 col-md-3 col-12">
                            <div class="fotter-single-area">
                                <h4>Site Link</h4>
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">Projects</a></li>
                                        <li><a href="#">Faq</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Footer Single Box -->
                        <!-- Footer Single Box -->
                        <div class="col-lg-3 col-md-6 col-12 order-lg-4">
                            <div class="fotter-single-area">
                                <h4>Recent Post</h4>
                                <div class="post-area">
                                    <div class="post-single">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis commodi consectetur distinctio dolorem
                                        </p>
                                        <a href="#">By Nawaz Sharif, 3rd March, 12.30 pm</a>
                                    </div>
                                    <div class="post-single">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda consectetur consequatur dolores illum
                                        </p>
                                        <a href="#">By Nawaz Sharif, 3rd March, 12.30 pm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Footer Single Box -->
                    </div>
                </div>
            </div>
            <!-- Footer Top Area Start -->
            <!-- Footer Bottom Area Start -->
            <div class="footer-bottom black-bg">
                <p>&copy; Copyrighted by Senate <i class="fa fa-heart"></i> by <a href="https://hasthemes.com" target="_blank" rel="noopener">Senate Blog</a></p>
            </div>
            <!-- Footer Bottom Area End -->
        </footer>
        <!-- Footer Area End -->
    </div>
    <!-- Page Wraper Here Start -->




    <script src="../Allfiles/js/hgjs/hgvendor/jquery-3.6.0.min.js"></script>
    <script src="../Allfiles/js/hgjs/popper.min.js"></script>
    <script src="../Allfiles/js/hgjs/bootstrap.min.js"></script>
    <script src="../Allfiles/js/hgjs/plugins.js"></script>
    <script src="../Allfiles/js/hgjs/main.js"></script>


    <!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.Infojs, then Bootstrap JS -->
	<script src="../Allfiles/js/Infojs/jquery-3.2.1.min.js"></script>
	<script src="../Allfiles/js/Infojs/popper.js"></script>
	<script src="../Allfiles/js/Infojs/bootstrap.min.js"></script>
	<script src="../Allfiles/js/Infojs/stellar.js"></script>
	<script src="../Allfiles/js/Infovendors/lightbox/simpleLightbox.min.js"></script>
	<script src="../Allfiles/js/Infovendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="../Allfiles/js/Infovendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="../Allfiles/js/Infovendors/isotope/isotope-min.js"></script>
	<script src="../Allfiles/js/Infovendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="../Allfiles/js/Infojs/jquery.ajaxchimp.min.js"></script>
	<script src="../Allfiles/js/Infojs/mail-script.js"></script>
	<script src="../Allfiles/js/Infovendors/counter-up/jquery.waypoints.min.js"></script>
	<script src="../Allfiles/js/Infovendors/counter-up/jquery.counterup.min.js"></script>
	<script src="../Allfiles/js/Infojs/theme.js"></script>



    <!-- all js here -->
    <script src="../Allfiles/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../Allfiles/js/bootstrap.min.js"></script>
    <script src="../Allfiles/js/jquery.ajaxchimp.min.js"></script>
    <script src="../Allfiles/js/ajax-mail.js"></script>
    <script src="../Allfiles/js/plugins.js"></script>
    <!-- google map api -->

    <script src="../Allfiles/js/main.js"></script>
 </body>

</html>