<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loginfiles/otpfiles/style.css') }}"> <!-- Corrected CSS linking -->
</head>
<body>
    <div class="container">
        <form action="/verify_otp" method="post" class="otpform" id="otpForm">
            <h3>OTP Verification</h3>
            <input type="hidden" name="email" value="{{ email }}">
            <input type="text" name="otp" placeholder="Enter OTP" required>
        <!--
            <div class="input-field">
                <h1 class="otp-display"></h1>
                <input type="hidden" name="email" value="{{ email }}">
                <input type="number" class="otp-input" />
                <input type="number" class="otp-input" disabled />
                <input type="number" class="otp-input" disabled />
                <input type="number" class="otp-input" disabled />
            </div> -->
            <!-- <input type="hidden" class="otp-hidden" name="otp" readonly /> -->
            <input type="submit"  id="submitOTP" value="Confirm OTP">
        </form>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>

    <!-- Corrected JavaScript linking -->
</body>
</html>
